html,
body {
    margin: 0px;
    padding: 0px;
    background-color: #000000;
}

#tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f6de7f;
}

.tabb {
    float: right;
}

li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 16px 18px;
    text-decoration: none;
    font-size: larger;
    font-weight: 900;
}

li a:hover {
    background-color: rgb(84, 193, 121);
}

.Section1 {
    width: 100%;
    height: 600px;
    background-color: #f6de7f;
    top: 0px;
    left: 0px;
    bottom: 0px;

}

.Section2 {
    width: 100%;
    height: 550px;
    background-color: rgb(255, 255, 255);
    margin-top: 0px;
    font-family: 'Cairo Play', sans-serif;
    font-size: 30px;
}

.Section3 {
    width: 100%;
    height: 550px;
    background-color: #ffffff;
    font-family: 'Cairo Play', sans-serif;
    font-size: 30px;
}

.Section4 {
    width: 100%;
    height: 550px;
    background-color: rgb(255, 255, 255);
    font-family: 'Cairo Play', sans-serif;
    font-size: 30px;

}

.Section5 {
    width: 100%;
    height: 550px;
    background-color: rgb(255, 255, 255);
    font-family: 'Cairo Play', sans-serif;
    font-size: 30px;

}

.Section6 {
    width: 100%;
    height: 200px;
    background-color: rgb(0, 0, 0);


}

.Main {

    width: 400px;
    height: 300px;
    font-size: 100px;
    line-height: 96%;
    font-family: 'Cairo Play', sans-serif;
    position: absolute;
    top: 170px;
    left: 900px;

}

h4 {
    color: black;
    margin: 10px 0px auto 0px;


}

h2 {
    color: black;
    margin: 0px;
    padding-left: 400px;
    padding-top: 50px;


}

.avi {
    font-size: 100px;
    line-height: 96px;
    font-family: 'Cairo Play', sans-serif;

}

img {

    position: absolute;
    width: 500px;
    margin: 100px 23%;


}

#Avi {
    font-size: 50px;

}

.content {
    padding-left: 400px;
    padding-right: 350px;
    padding-top: 0px;

}

hr {
    height: 1px;
    border-width: 0;
    color: rgb(255, 0, 0);
    background-color: rgb(84, 193, 121);
    margin: 0px;
    margin-left: 280px;
    top: 1000px;
    width: 1000px;
}



.icons {
    width: 50px;
    margin-top: 50px;



}

.icons:hover {
    width: 60px;
    height: auto;
    img src: url(gmail.png);
}

#icon1 {
    margin-left: 50px;

}

#icon2 {
    margin-left: 150px;
}

#icon3 {
    margin-left: 250px;
}

#icon4 {
    margin-left: 350px;
}

.Made {
    color: #ffffff;
    margin-left: 43%;
    margin-top: 50px;
    font-family: 'Cairo Play', sans-serif;
    font-size: 30px;
}

.A {}

.B {}

#DP{
    width:6%;
    border-radius: 50%;
    margin-left: 45%;
    margin-top: 20px;
}